.Homepage {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #000;
}

.App-header {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 50px; /* Makes the button rounded */
    background-color: #1db954; /* Spotify green color */
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #1ed760; /* Slightly lighter green for hover effect */
}
