.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 10px;
}

.pagination a {
  margin: 0 5px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: black;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination .break-me {
  display: none;
}

.pagination .pagination-label {
  background: none;
  border: none;
  margin: 0 5px;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
}

.book-container {
  padding: 20px;
  margin-left: 150px;
  margin-right: 150px;
  /* background: linear-gradient(to bottom, #f5f5f5, #ccc); */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* width: 300px; */
  text-align: left;
}