.music-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 5px;
    background-image: linear-gradient(to right, #C89BEB , #77A8F3);
    border-radius: 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.music-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.music-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    margin-right: 10px;
    object-fit: cover;
}

.music-name {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
}

.music-control {
    display: flex;
    align-items: center;
    max-width: 200px; /* You can adjust this value as necessary */
    justify-content: space-between; /* To give space between control button and now playing text */
}

.control-button {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.control-button i {
    font-size: 20px;
}

.now-playing {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap; /* Prevents the text from breaking into multiple lines */
}
